<%- contentFor('addcss') %>
<!-- Morris Charts CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<%- contentFor('title') %>
Dashboard

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-6 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-user-plus fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div id="traction-now" class="huge"></div>
						<div>New users today</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-briefcase fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div id="transaction-now" class="huge"></div>
						<div>New transaction today</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<strong>Traction</strong>
					<div class="pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
								<span id="traction-interval-select">weekly</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#" onclick="traction('weekly')">weekly</a>
								</li>
								<li>
									<a href="#" onclick="traction('monthly')">monthly</a>
								</li>
								<li>
									<a href="#" onclick="traction('yearly')">yearly</a>
								</li>
							</ul>
						</div>
					</div>
				</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div id="traction-chart" class="morris-chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<strong>Transaction</strong>
					<div class="pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
								<span id="transaction-interval-select">weekly</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li>
									<a href="#" onclick="transaction('weekly')">weekly</a>
								</li>
								<li>
									<a href="#" onclick="transaction('monthly')">monthly</a>
								</li>
								<li>
									<a href="#" onclick="transaction('yearly')">yearly</a>
								</li>
							</ul>
						</div>
					</div>
				</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div id="transaction-chart" class="morris-chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('addjs') %>
<!-- Morris Charts JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">

	function jsonFormater(interval, data) {
		var month = [
		]

		if (interval == 'yearly') 
		{

		}
		else if (interval == 'monthly') 
		{

		}
		else 
		{

		}
	}

	var traction = function(interval) 
	{
		$.ajax({
			url: location.origin+'/administrator/report/traction?interval='+interval,
			type: 'GET',
			success: function(data) {

				console.log(data.total)
				$('#traction-interval-select').text(interval)
				$('#traction-chart').empty()

				Morris.Line({
					element: 'traction-chart',
					data: data.total,
					xkey: 'y',
					ykeys: ['a'],
					parseTime: false,
					labels: ['New user']
				});

				// $('#traction-now').html(data.total);
			},
			error: function() {
				$('#traction-now').html('An error has occurred');
			},
		});
	}

	var transaction = function(interval) 
	{
		$.ajax({
			url: location.origin+'/administrator/report/guest?interval='+interval,
			type: 'GET',
			success: function(data) {

				console.log(data.total)
				$('#transaction-interval-select').text(interval)
				$('#transaction-chart').empty()

				Morris.Line({
					element: 'transaction-chart',
					data: data.total,
					xkey: 'y',
					ykeys: ['a'],
					parseTime: false,
					labels: ['Booking']
				});

				// $('#traction-now').html(data.total);
			},
			error: function() {
				$('#traction-now').html('An error has occurred');
			},
		});
	}


	$(function () {
		$.ajax({
			url: location.origin+'/administrator/report/traction?interval=weekly',
			type: 'GET',
			success: function(data) {
				Morris.Line({
					element: 'traction-chart',
					data: data.total,
					xkey: 'y',
					ykeys: ['a'],
					parseTime: false,
					labels: ['New user']
				});

			},
			error: function() {
				$('#traction-now').html('An error has occurred');
			},
		});

		$.ajax({
			url: location.origin+'/administrator/report/guest?interval=weekly',
			type: 'GET',
			success: function(data) {
				Morris.Line({
					element: 'transaction-chart',
					data: data.total,
					xkey: 'y',
					ykeys: ['a'],
					parseTime: false,
					labels: ['Booking']
				});

			},
			error: function() {
				$('#traction-now').html('An error has occurred');
			},
		});
	})
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$.ajax({
			url: location.origin+'/administrator/report/traction/today',
			type: 'GET',
			success: function(data) {
				console.log(data)
				$('#traction-now').html(data.total);
			},
			error: function() {
				$('#traction-now').html('An error has occurred');
			},
		});

		$.ajax({
			url: location.origin+'/administrator/report/guest/today',
			type: 'GET',
			success: function(data) {
				console.log(data)
				$('#transaction-now').html(data.total);
			},
			error: function() {
				$('#transaction-now').html('An error has occurred');
			},
		});
	});
</script>