<%- contentFor('title') %>
RoomMe Admin Create

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<% if (errors.length>0) { %>
		<ul>
		<% errors.forEach(function(data, index) { %>
		<li>
			<%= data %>
		</li>
		<% }); %>
		</ul>
		<% } %>
		<form action="/administrator/admins" method="POST">
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="email" name="email">
				<p class="help-block">As login credential.</p>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input class="form-control" type="password" name="password">
				<p class="help-block">Minimum 8 character.</p>
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				<input class="form-control" type="password" name="cpassword">
				<p class="help-block">Must be same with password.</p>
			</div>
			<div class="form-group">
				<label>Privilege</label>
				<select class="form-control" name="privilege">
					<option value="">Choose Privilege...</option>
					<% priv.forEach(function(data, index) { %>
					<option value="<%= data.id %>"><%= data.name %></option>
					<% }); %>
				</select>
			</div>
			<div class="form-group">
				<div class="row col-lg-12">
					<label>Name</label>
				</div>
				<div class="col-lg-6">
					<input placeholder="First Name..." class="form-control" type="text" name="fname">
				</div>
				<div class="col-lg-6">
					<input placeholder="Last Name..." class="form-control" type="text" name="lname">
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Submit</button>
			<br>
			<br>
			<br>
			<br>
		</form>
	</div>
</div>