<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>Hi ( Username ), </p>

<p>Confirm your email address to help secure your Roomme Account </p>

<p>Please insert this code in the email activation form</p>
<strong><%= actCode %></strong>

<p>Thanks, </p>
<p>The ROOMME Team</p>
</body>
</html>