.gold-color{
	color: #E3ED28;
}

.link{
	cursor: pointer;	
}

.image{
	min-height: 400px;
	background-repeat: no-repeat;
	margin-top: 20px; 
}

.payment-process{
	padding-right: 30px;
}

<<<<<<< Updated upstream
.morris-chart {
	min-height: 300px;
=======
.listing-image {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100px;
	padding-top: 5%;
>>>>>>> Stashed changes
}