<!--&lt;!&ndash; Libraries &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<link href="/WEB/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/WEB/assets/css/style.css">
<!-- Themefisher Font -->
<link href="/WEB/assets/plugins/themefisher-font/style.css" rel="stylesheet">
<!-- Owl Carousel -->
<link href="/WEB/assets/plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
<!-- Owl Carousel Theme -->
<link href="/WEB/assets/plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
<!-- Fancy Box -->
<link href="/WEB/assets/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">