<script src="/WEB/assets/plugins/jquery/jquery.js"></script>
<script src="/WEB/assets/plugins/popper/popper.min.js"></script>
<script src="/WEB/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/WEB/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/WEB/assets/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="/WEB/assets/plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="/WEB/assets/plugins/syotimer/jquery.syotimer.min.js"></script>

<script src="/WEB/assets/js/custom.js"></script>