<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <% if (typeof addmeta != 'undefined') { %>
    <%-addmeta%>
    <% } %>
    <title><%-title%></title>
    <% include ./includes/css %>
</head>
<body class="body-wrapper">
    <nav class="navbar main-nav navbar-expand-lg p-0">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.svg" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="tf-ion-android-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active dropdown-slide">
                        <a class="nav-link" href="#"  data-toggle="dropdown">Home
                            <span><i class="tf-ion-ios-arrow-down"></i></span>
                        </a>
                        <!-- Dropdown list -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="homepage.html">Homepage</a>
                            <a class="dropdown-item" href="homepage-2.html">Homepage 2</a>
                            <a class="dropdown-item" href="homepage-3.html">Homepage 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-slide">
                        <a class="nav-link" href="#"  data-toggle="dropdown">Pages
                            <span><i class="tf-ion-ios-arrow-down"></i></span>
                        </a>
                        <!-- Dropdown list -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="team.html">Team</a>
                            <a class="dropdown-item" href="career.html">Career</a>
                            <a class="dropdown-item" href="blog.html">Blog</a>
                            <a class="dropdown-item" href="blog-single.html">Blog Single</a>
                            <a class="dropdown-item" href="privacy-policy.html">Privacy</a>
                            <a class="dropdown-item" href="FAQ.html">FAQ</a>
                            <a class="dropdown-item" href="sign-in.html">Sign In</a>
                            <a class="dropdown-item" href="sign-up.html">Sign Up</a>
                            <a class="dropdown-item" href="404.html">404</a>
                            <a class="dropdown-item" href="comming-soon.html">Coming Soon</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        <%-content%>

    <footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
                    <div class="block">
                        <a href="index.html"><img src="images/logo-footer.svg" alt="footer-logo"></a>
                        <!-- Social Site Icons -->
                        <ul class="social-icon list-inline">
                            <li class="list-inline-item">
                                <a href="#"><i class="tf-ion-social-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="tf-ion-social-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="tf-ion-social-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="block-2">
                        <!-- heading -->
                        <h6>Product</h6>
                        <!-- links -->
                        <ul>
                            <li><a href="">Features</a></li>
                            <li><a href="">Testimonial</a></li>
                            <li><a href="">Pricing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="block-2">
                        <!-- heading -->
                        <h6>Resources</h6>
                        <!-- links -->
                        <ul>
                            <li><a href="sign-up.html">Singup</a></li>
                            <li><a href="sign-in.html">Login</a></li>
                            <li><a href="#">Help & Support</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="block-2">
                        <!-- heading -->
                        <h6>Company</h6>
                        <!-- links -->
                        <ul>
                            <li><a href="career.html">Career</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="">Investor</a></li>
                            <li><a href="privacy.html">Terms</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="block-2">
                        <!-- heading -->
                        <h6>Company</h6>
                        <!-- links -->
                        <ul>
                            <li><a href="">Career</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Investor</a></li>
                            <li><a href="">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <% include ./includes/js %>
    <% if (typeof addjs != 'undefined') { %>
    <%-addjs%>
    <% } %>
</body>
</html>
