<%- contentFor('title') %>
Listing Types

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form class="form-inline" action="/administrator/listing-type" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" value="<%= keyword%>">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
				</span>
			</div>
			<a href="/administrator/listing-type/create" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i>Create</a>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th>Name</th>
					<th width="15%"></th>
				</tr>
			</thead>
			<tbody>
				<% if (type.length>0) { %>
				<% type.forEach(function(data, index) { %>
				<tr>
					<td><%= ((currentpage-1)*20)+(index+1) %></td>
					<td><%= data.name %></td>
					<td>
						<a href="/administrator/listing-type" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
						<a href="/administrator/listing-type" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						<a href="/administrator/listing-type" class="btn btn-danger"><i class="fa fa-lock" aria-hidden="true"></i></a>
					</td>
				</tr>
				<% }); %>
				<% }else {  %>
				<tr>
					<td colspan="4" class="text-center">No data</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% if (type.length>0) { %>
		<%- paginator(totalPage, currentpage, 'administrator/listing-type', [{key: 'keyword', value: keyword}]) %>	
		<% } %>
	</div>
</div>