<%- contentFor('title') %>
RoomMe Article Create

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<% if (typeof errors != 'undefined') { %>
		<ul>
		<% errors.forEach(function(data, index) { %>
		<li>
			<%= data %>
		</li>
		<% }); %>
		</ul>
		<% } %>
		<form action="/administrator/articles" method="POST">
			<div class="form-group">
				<label>Title</label>
				<input class="form-control" type="text" name="title">
			</div>
			<div class="form-group">
				<label>Slug</label>
				<div class = "input-group">
					<span class = "input-group-addon">http://www.roomme.space/articles/</span>
					<input class="form-control" type="text" name="slug">
				</div>
				<p class="help-block">URL to access the article page</p>
			</div>
			<div class="form-group">
				<label>Content</label>
				<textarea id="content" name="content"></textarea>
			</div>
			<button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Submit</button>
		</form>
	</div>
</div>

<%- contentFor('addjs') %>
<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
<script type="text/javascript">
	CKEDITOR.replace( 'content', {
		height: 400
	} );
</script>

<script src="/CMS/assets/js/string.js" type="text/javascript"></script>
<script type="text/javascript">
    $('[name="title"]').keyup(function(){
        str = string_to_slug(this.value);
        $('[name="slug"]').val(str);
    });

    $('[name="slug"]').keyup(function(){
        str = string_to_slug(this.value);
        $('[name="slug"]').val(str);
    });
</script>
