<%- contentFor('title') %>
RoomMe Admin Create

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form action="/administrator/help/<%= help.id %>" method="POST">
			<div class="form-group">
				<label>Member</label>
				<p><%= help.User.firstName %> <%= help.User.lastName %> (<%= help.User.email %>)</p>
			</div>
			<div class="form-group">
				<label>Sent</label>
				<p><%= help.createdAt %></p>
			</div>
			<div class="form-group">
				<label>Subject</label>
				<p><%= help.subject %></p>
			</div>
			<div class="form-group">
				<label>Content</label>
				<p><%= help.content %></p>
			</div>
			<% if (help.reply != null) { %>
			<div class="form-group">
				<label>Reply</label>
				<p><%= help.reply %></p>
				<p class="help-block">Replied by:<%= help.Admin.fname %> <%= help.Admin.lname %> (<%= help.updatedAt %>)</p>
			</div>
			<% }else {  %>
			<div class="form-group">
				<label>Reply</label>
				<textarea class="form-control" rows="4" style="resize: none;" name="reply"></textarea>
			</div>
			<button class="btn btn-primary"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
			<% } %>
		</form>
	</div>
</div>