<%- contentFor('title') %>
Error!

<%- contentFor('content') %>
<div class="row" id="home">
	<div class="col-lg-12 text-center content">
		<div class="error-section col-lg-6 col-lg-offset-3">
			<h3>Room not found?</h3>
			<h5><a href="/">Take me home!</a></h5>
		</div>
	</div>
</div>