<%- contentFor('title') %>
Listings

<%- contentFor('content') %>
<div class="row">
	<form class="form-inline" action="/administrator/listings" method="GET">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..." name="keyword" value="<%= keyword%>">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
						</span>
					</div>
					<div class="form-group">
						<select class="form-control" name="status">
							<option value="all" <%= status=='all'?'selected':'' %>>All</option>
							<option value="active" <%= status=='active'?'selected':'' %>>Active</option>
							<option value="suspended" <%= status=='suspended'?'selected':'' %>>Suspended</option>
						</select>
					</div>
					<button type="submit" class="btn btn-success">Filter</button>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th>Name</th>
					<th>Location</th>
					<th>Rating</th>
					<th>Status</th>
					<th>Create Date</th>
					<th width="10%"></th>
				</tr>
			</thead>
			<tbody>
				<% if (listings.length>0) { %>
				<% listings.forEach(function(data, index) { %>
				<tr>
					<td><%= ((currentpage-1)*20)+(index+1) %></td>
					<td><%= data.name %></td>
					<td><%= data.city %>, <%= data.province %></td>
					<td>
						<% if (listings.totalReview>0) { %>
						<span class="label label-primary"><%= data.totalRating %></span>
						<% }else{ %>
						<span class="label label-default">No review</span>
						<% } %>
					</td>
					<td>
						<% if (data.suspended) { %>	
						<label class="label label-danger">Suspended</label>
						<% } else{ %>
						<label class="label label-primary">Active</label>
						<% } %>
					</td>
					<td><%= data.createdAt %></td>
					<td>
						<a href="/administrator/listings/<%= data.id %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
						<a href="/administrator/listings/<%= data.id%>" class="btn btn-danger"><i class="fa fa-lock" aria-hidden="true"></i></a>
					</td>
				</tr>
				<% }); %>
				<% }else {  %>
				<tr>
					<td colspan="5" class="text-center">No data</td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<% if (listings.length>0) { %>
		<%- paginator(totalPage, currentpage, 'administrator/listings', [{key: 'keyword', value: keyword}, {key: 'status', value: status}]) %>	
		<% } %>
	</div>
</div>