<%- contentFor('title') %>
Listing (<%= listing.name %>)

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Listing Data</strong></h3>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#listing" aria-controls="summary" role="tab" data-toggle="tab">Listing</a></li>
					<li role="presentation"><a href="#location" aria-controls="trips" role="tab" data-toggle="tab">Location</a></li>
					<li role="presentation"><a href="#facilities" aria-controls="trips" role="tab" data-toggle="tab">Facilities</a></li>
					<li role="presentation"><a href="#image" aria-controls="trips" role="tab" data-toggle="tab">Images</a></li>
					<li role="presentation"><a href="#owner" aria-controls="trips" role="tab" data-toggle="tab">Owner</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="listing">
						<div class="form-horizontal">
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Name</label>
								<span class="col-lg-9"><%= listing.name %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Status</label>
								<span class="col-lg-9">
									<% if(listing.suspended) { %>
									<label class="label label-danger">Suspended</label>
									<a href="/administrator/listings/<%= listing.id %>/unsuspend" class="btn btn-primary btn-sm pull-right">Unsuspend</a>
									<% } else { %>
									<% if(listing.unlisted) { %>
									<label class="label label-warning">Unlisted</label>
									<% } else { %>
									<label class="label label-success">Listed</label>
									<% } %>
									<a href="/administrator/listings/<%= listing.id %>/suspend" class="btn btn-danger btn-sm pull-right">Suspend</a>
									<% } %>
								</span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Listing type</label>
								<span class="col-lg-9"><%= listing.Type.name %> in <%= listing.LocationType.name %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Description</label>
								<span class="col-lg-9"><%= listing.description %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Daily price</label>
								<span class="col-lg-9"><%= listing.dailyPrice %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Weekly discount</label>
								<span class="col-lg-9"><%= listing.weeklyDisc %>%</span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Monthly discount</label>
								<span class="col-lg-9"><%= listing.monthlyDisc %>%</span>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="location">
						<div class="form-horizontal">
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Address</label>
								<span class="col-lg-9"><%= listing.address %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">District</label>
								<span class="col-lg-9"><%= listing.district %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">City</label>
								<span class="col-lg-9"><%= listing.city %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Province</label>
								<span class="col-lg-9"><%= listing.province %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Country</label>
								<span class="col-lg-9"><%= listing.country %></span>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="facilities">
						<div class="form-horizontal">
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Guest</label>
								<span class="col-lg-9"><%= listing.address %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Bedroom</label>
								<span class="col-lg-9"><%= listing.district %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Bed</label>
								<span class="col-lg-9"><%= listing.city %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Bathroom</label>
								<span class="col-lg-9"><%= listing.province %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Minimum / Maximum book</label>
								<span class="col-lg-9"><%= listing.country %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Amenities</label>
								<div class="col-lg-9">
									<% if (listing.Amenities.length>0) { %>
									<ul class="list-group">
										<% listing.Amenities.forEach(function(data, index) { %>
										<li class="list-group-item"><%= data.name %></li>
										<% }); %> 
									</ul>
									<% } else { %>
									<span>No Amenities</span>
									<% } %>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="image">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="20000">
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<% if (listing.image2 != null && listing.image2 != '') { %>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<% } %>
								<% if (listing.image3 != null && listing.image3 != '') { %>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								<% } %>
								<% if (listing.image4 != null && listing.image4 != '') { %>
								<li data-target="#carousel-example-generic" data-slide-to="3"></li>
								<% } %>
								<% if (listing.image5 != null && listing.image5 != '') { %>
								<li data-target="#carousel-example-generic" data-slide-to="4"></li>
								<% } %>
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img src="<%= listing.image1 %>" alt="<%= listing.name %>1">
									<div class="carousel-caption">
										<
									</div>
								</div>
								<% if (listing.image2 != null && listing.image2 != '') { %>
								<div class="item">
									<img src="<%= listing.image2 %>" alt="<%= listing.name %>2">
									<div class="carousel-caption">
									</div>
								</div>
								<% } %>
								<% if (listing.image3 != null && listing.image3 != '') { %>
								<div class="item">
									<img src="<%= listing.image3 %>" alt="<%= listing.name %>3">
									<div class="carousel-caption">
									</div>
								</div>
								<% } %>
								<% if (listing.image4 != null && listing.image4 != '') { %>
								<div class="item">
									<img src="<%= listing.image4 %>" alt="<%= listing.name %>4">
									<div class="carousel-caption">
									</div>
								</div>
								<% } %>
								<% if (listing.image5 != null && listing.image5 != '') { %>
								<div class="item">
									<img src="<%= listing.image5 %>" alt="<%= listing.name %>5">
									<div class="carousel-caption">
									</div>
								</div>
								<% } %>
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="owner">
						<div class="form-horizontal">
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Name</label>
								<span class="col-lg-9"><%= listing.User.firstName %> <%= listing.User.lastName %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Birth Date</label>
								<span class="col-lg-9"><%= listing.User.birthDate %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Phone</label>
								<span class="col-lg-9"><%= listing.User.phone %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">Address</label>
								<span class="col-lg-9"><%= listing.User.address %></span>
							</div>
							<div class="form-group col-lg-12">
								<label class="col-lg-3">About</label>
								<span class="col-lg-9"><%= listing.User.about %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="panel-body">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
				<li role="presentation"><a href="#trips" aria-controls="trips" role="tab" data-toggle="tab">Bookings</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="summary">

				</div>
				<div role="tabpanel" class="tab-pane" id="trips">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Book Code</th>
								<th>Traveller</th>
								<th>Status</th>
								<th>Book Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% if (listing.Reservations.length>0) { %>
							<% listing.Reservations.forEach(function(data, index) { %>
							<tr>
								<td><%= index+1 %></td>
								<td><%= data.code %></td>
								<td>
									<a href="/administrator/member/<%= data.Traveller.id %>"><%= data.Traveller.firstName %> <%= data.Traveller.lastName %></a>
								</td>
								<td>status</td>
								<td><%= data.createdAt %></td>
								<td>
									<a href="/administrator/trips/<%= data.code %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
								</td>
							</tr>
							<% }); } else { %>
							<tr>
								<td colspan="5">No data available</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>

<%- contentFor('addjs') %>
<!-- Morris Charts JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$.ajax({
			url: location.origin+'/api/v1/report-cms/success-books/<%= listing.id%>/listing?interval=weekly',
			type: 'GET',
			success: function(data) {
				console.log(data)
			},
			error: function(err) {
				console.log(err)
			},
		});

		$.ajax({
			url: location.origin+'/api/v1/report-cms/money/<%= listing.id%>/listing?interval=weekly',
			type: 'GET',
			success: function(data) {
				console.log(data)
			},
			error: function(err) {
				console.log(err)
			},
		});

		$.ajax({
			url: location.origin+'/api/v1/report-cms/total-guest/<%= listing.id%>/listing?interval=weekly',
			type: 'GET',
			success: function(data) {
				console.log(data)
			},
			error: function(err) {
				console.log(err)
			},
		});

		// $.ajax({
		// 	url: location.origin+'/administrator/report/guest/today',
		// 	type: 'GET',
		// 	success: function(data) {
		// 		$('#transaction-now').html(data.total);
		// 	},
		// 	error: function() {
		// 		$('#transaction-now').html('An error has occurred');
		// 	},
		// });
	});
</script>