<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        RoomMe Content Management System
    </title>

    <% include ./includes/css %>

    <% if (typeof addcss != 'undefined') { %>
        <%-addcss%>
    <% } %>

</head>

<body>

    <div id="wrapper">

        <% include ./includes/nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <%-title%>
                    </h1>
                </div>
            </div>
            
            <%-content%>
  
        </div>

    </div>

    <% include ./includes/js %>

    <% if (typeof addjs != 'undefined') { %>
        <%-addjs%>
    <% } %>

</body>

</html>
