<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%-title%>
    </title>

    <% include ./includes/css %>

    <link href="/assets/vendor/parsley/parsley.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="row">
            <%-content%>
        </div>
    </div>
    
    <% include ./includes/js %>
    <script src="/assets/parsley/parsley.min.js"></script>

</body>

</html>
