<%- contentFor('title') %>
login

<%- contentFor('content') %>
<section class="user-login section section-login">
    <div class="container">
        <div class="row">

            <div class="block center-thin">
                <!-- Image -->

                <!-- Content -->
                <div class="content text-center">
                    <div class="logo">
                        <a href="homepage.html"><img src="images/noteapp.png" alt=""></a>
                    </div>
                    <div class="title-text">
                        <h3>Sign in to  To Your Account</h3>
                        <% if (message.length > 0 ) {%>
                        <div class="alert alert-danger"><%= message %></div>
                        <% } %>
                    </div>

                    <form action="/login" method="post">
                        <!-- Username -->
                        <input class="form-control main input-thin" name="email" type="text" placeholder="Username" required>
                        <!-- Password -->
                        <input class="form-control main input-thin" name="password" type="password" placeholder="Password" required>
                        <!-- Submit Button -->
                        <button class="btn btn-main-md">sign in</button>
                    </form>
                    <div class="new-acount">
                        <a href="#">Forget your password?</a>
                        <p>Don't Have an account? <a href="/signup"> SIGN UP</a></p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
