<%- contentFor('title') %>
RoomMe Admin Create

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form action="/administrator/admin" method="POST">
			<div class="form-group">
				<label>Name</label>
				<input class="form-control" type="email" name="email">
				<p class="help-block">Amenities name.</p>
			</div>
			<button class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Submit</button>
		</form>
	</div>
</div>