<%- contentFor('title') %>
Amenities

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<div class="form-group">
			<label>Name</label>
			<p><%= amenity.name %></p>
		</div>
	</div>
</div>