<body>
	<style type="text/css">
		.grey {
			background-color: #f2f2f2;
		}
		.white {
			background-color: #FFFFFF;
		}
		.red {
			background-color: red;
		}
		.grey-font {
			color: #f2f2f2;
		}
		.white-font {
			color: #FFFFFF;
		}
		.red-font {
			color: red;
		}
		html {
			width: 768px;
		}
		body {
			width: 768px;
		}
		#header {
			height: 100px;
			padding-top: 2%;
		}
		#content {
			height: 350px;
			padding-top: 3%;
		}
		#footer {
			height: 150px;
		}
		.inside {
			padding-left: 50px;
			padding-top: 5%;
		}
		a {
			color: inherit;
		}
	</style>
	<div id="header" class="white inside" style="background-color: #FFFFFF;padding-left: 50px;padding-top: 5%;">
		<img src="http://www.roomme.space/WEB/assets/images/logo_roomie@2x.png" width="75px">
	</div>
	<div id="content" class="grey inside" style="padding-left: 50px;padding-top: 5%;">
		<h2 class="red-font" style="color: red;"><strong>Welcome to Raaaoomme!</strong></h2>
		<hr>
		<p>
			Discover
		</p>
	</div>
	<div id="footer" class="red inside" style="background-color: red;padding-left: 50px;padding-top: 5%;">
		<p class="white-font" style="color: #FFFFFF;">Sent from <strong>Roomme</strong></p>
		<p class="white-font" style="color: #FFFFFF;">
			<a href="#">FAQ</a>&nbsp;<strong>|</strong>&nbsp;
			<a href="#">Privacy Policy</a>&nbsp;<strong>|</strong>&nbsp;
			<a href="#">T&C</a>&nbsp;<strong>|</strong>&nbsp;
			<a href="#">Contact Us</a>
		</p>
	</div>
</body>