<%- contentFor('title') %>
Trips

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<form class="form-inline" action="/administrator/trips" method="GET">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search..." name="keyword" value="<%= keyword%>">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
				</span>
			</div>
			<a href="/administrator/trips/create" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i>Create</a>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th width="5%">#</th>
					<th>Book Code</th>
					<th>Traveller</th>
					<th>Listing</th>
					<th>Status</th>
					<th>Book Date</th>
					<th width="5%"></th>
				</tr>
			</thead>
			<tbody>
				<% if (trips.length>0) { %>
					<% trips.forEach(function(data, index) { %>
					<tr>
						<td><%= ((currentpage-1)*20)+(index+1) %></td>	
						<td><%= data.code %></td>
						<td><a href="/administrator/member/<%= data.userId %>"><%= data.Traveller.email %></a></td>
						<td>
							<a href="/administrator/listings/<%= data.listingId %>"><%= data.Listing.name %></a>
						</td>
						<td>
							<%= data.status %>
						</td>
						<td><%= data.createdAt %></td>
						<td>
							<a href="/administrator/trips/<%= data.code %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
						</td>
					</tr>
					<% }); %>
				<% }else {  %>
					<tr>
						<td colspan="7" class="text-center">No data</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<% if (trips.length>0) { %>
		<%- paginator(totalPage, currentpage, 'administrator/trips', [{key: 'keyword', value: keyword}]) %>	
		<% } %>
	</div>
</div>