<%- contentFor('title') %>
Trip Detail (<%= trip.code %>)

<%- contentFor('content') %>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Trip Info</strong></h3>
			</div>
			<div class="panel-body">
				<div class="col-lg-6">
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Status</label>
						<span>
							<% if (trip.status === 'Canceled' ) { %>
							<label class="label label-danger">Canceled</label>
							<% } else if (trip.status === 'Pending') { %>
							<label class="label label-default">Pending</label>
							<% } else if ( trip.status === 'Accepted' ) {%>
							<label class="label label-warning">Accepted</label>
							<% } else if ( trip.status === 'Payment pending' ) {%>
							<label class="label label-warning">Payment pending</label>
							<% } else if ( trip.status === 'Paid') {%>
							<label class="label label-warning">Paid</label>
							<% } else if ( trip.status === 'On-going') {%>
							<label class="label label-info">On-going</label>
							<% } else if ( trip.status === 'Finished' ) {%>
							<label class="label label-primary">Finished</label>
							<% } else {%>
							<label class="label label-success">Completed</label>
							<% } %>
						</span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Book Date</label>
						<span><%= formatedDateOnly(trip.createdAt) %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Rating</label>
						<span><%- rating(trip.star) %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Review</label>
						<span><%= (trip.review==null)?'Not reviewed yet':trip.review %></span>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Trip Date</label>
						<span><%= formatedDateOnly(trip.startDate) %> - <%= formatedDateOnly(trip.endDate) %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Total Cost</label>
						<span><%= currency(trip.cost, "IDR") %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Payment</label>
						<div class="col-lg-9">
							<ul class="list-group">
								<% if (trip.Payments.length>0) { %>
								<% trip.Payments.forEach(function(data, index) { %>
									<% if (data.status == 0) { %>
									<li class="list-group-item list-group-item-danger">
									<% } else if (data.status == 1) { %>
									<li class="list-group-item list-group-item-info">
									<% } else if (data.status == 2) { %>
									<li class="list-group-item list-group-item-success">
									<% } %>
										<a class="link" data-toggle="modal" data-target="#payment<%= index %>"><%= formatedDateOnly(data.createdAt) %></a>
									</li>
								<% }); %>
								<% } else { %>
								No payment history
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Traveller Info</strong></h3>
			</div>
			<div class="panel-body">
				<div class="col-lg-12">
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Name</label>
						<span><a href="/member/<%= trip.Traveller.id %>"><%= trip.Traveller.firstName+" "+trip.Traveller.lastName %></a></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Email</label>
						<span><%= trip.Traveller.email %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Member Since</label>
						<span><%= formatedDateOnly(trip.Traveller.createdAt) %></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Listing Info</strong></h3>
			</div>
			<div class="panel-body">
				<div class="col-lg-12">
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Name</label>
						<span><a href="/administrator/listings/<%= trip.Listing.id %>"><%= trip.Listing.name %></a></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Location</label>
						<span><%= trip.Listing.city %>, <%= trip.Listing.province %></span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Average Rating</label>
						<span>
							<span><%- rating(trip.Listing.totalRating) %></span>
							(<%= trip.Listing.totalReview %> reviews)
						</span>
					</div>
					<div class="form-group col-lg-12">
						<label class="col-lg-3">Daily rate</label>
						<span><%= currency(trip.Listing.dailyPrice, "IDR") %></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% if (trip.Payments.length>0) { %>
<% trip.Payments.forEach(function(data, index) { %>
<div class="modal fade" id="payment<%= index%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-1 image" style="background: url('<%= data.location %>'); background-repeat: no-repeat;">
					</div>
					<div class="col-lg-2">
						<div class="form-horizontal payment-process">
							<% if (data.status==1 && data.doku == 0) { %>
							<a href="/administrator/payments/<%= data.id %>/accept" class="btn btn-success">Accept Payment</a>
							<br>
							<br>
							<a href="/administrator/payments/<%= data.id %>/decline" class="btn btn-danger">Decline payment</a>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% }); %>
<% } %>